<% provide(:title, 'About') %>

<div id="about">
	<div id="about_text">
		<h3>about bounce</h3></br>
		<h4>Made in San Francisco, CA, Bounce was created to automatically create, send and track invoices.</br></br>With Bounce, you create an account with deal terms (client contact details, deal length, billing cycle and payment terms). You can then choose to bill your client a fixed monthly fee with individual line items, or metered billing using the Bounce API. At the end of the billing cycle Bounce automatically emails you to review the invoices, which Bounce then sends to the client. Bounce will then automatically create an invoice for the next billing cycle. </br></br>Bounce gives you a real time dashboard where you can view the status of each invoice, easily identifying which invoices are waiting on payment, closed, active or overdue.</br></br>When an invoice becomes overdue Bounce will send you a notification or can email a payment reminder to your client automatically. </h4>
	</div>
	<div id="about_image"></div>
</div>