<div class="center hero-unit">
	
	<div class="center">
		<img src="assets/logo_large.png">
	</br>
	</br>
	</br>
		<p>We think about invoices so you don't have to.</p><%= link_to "Sign Up", new_user_path, class: "btn btn-large btn-primary" %>
	</div>	
</div>

<p> need to get thsi shit fleshed out</p>

