<% provide(:title, "tally") %> 
<h1>tally</h1>

<p><%= @deal.name %></p>
 <p><%= @deal.id %></p>

 <%= @access_token.each do |access_token_list| %>

 <thead>
 	<tr>
 		<th>access_token</th>
 		<th>amount</th>
 		<th>date created</th>
 	</tr>
 </thead>


 <tbody>
 	<tr>
 		<td>access_token_list.access_token</td>
 		<td>access_token_list.amount</td>
 		<td>access_token_list.created_at</td>
 	</tr>
 </tbody>
