<% provide(:title, "New Invoice") %> 


<div class="row">
	<div class="container">


<!--Account overview-->
		<div class="row">
  			<div class="span12">
  		    <legend> Account Details</legend>		
  				<div class="well span4 pull-left">
 			
  					<p>Account: <strong><%= @account.name %></strong></p>
  					<p>Contact name: <strong><%= @account.contact_name %></strong></p>
	  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>

  			  </div>
  			</div>	
  		</div>


  	</div>
</div>