ul{
	list-style-type: none;
	padding-top: 0px;
	margin: 0px;
	}

ul li{
	margin-left: 40px; 
	margin-bottom: 0px;
	float: left;
	}

	ul li i{
		float: left;
		margin-right: 15px;
		margin-top: 0px;
	}