// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


textarea{ 
  width: 460; 
  min-width:200px; 
  max-width:500px; 

  height: 100px; 
  min-height:50px;  
  max-height:200px;
}