<footer class="footer">
	<div class="container">
	<nav>
		<ul>
			<li><%= link_to "about", about_path %></li>
			<li><a href="mailto:support@get-bounce.com">Contact</a></li>
		</ul>
	</nav>
</div>
</footer>