<% provide(:title, "Account details") %> 

<h1>Acount Overview</h1>

<div class="row">
	<div class="container">

  		<div class="row">
  		<div class="span12">	
  			<div class="well span4 pull-left">
  				<p>Account: <strong><%= @account.name %></strong></p>
  				<p>Contact name: <strong><%= @account.contact_name %></strong></p>
  				<p>Contact email: <strong><%= @account.contact_email %></strong></p>
  			</div>
  		</div>	
  		</div>
  		
  		<div class="row">	
  		<div class="span12">	
 	 		<a class="btn btn-primary btn-large pull-right" type="button"  href="<%= new_deal_path (@account.id) %>">New Deal
    		</a>
    	</div>
    	</div>

<!--Deal list -->

      <div class="span12">
      <table class="table table-hover table-bordered">
        <caption><h4 class="pull-left">All Deals</h4> </caption>
        <thead>
            <tr>
              <th>Deal name</th>
              <th>Start date</th>
              <th>End date</th>
              <th>Billing Cycle</th>
            </tr>
        </thead>

        <tbody>
          <% # %>
            <tr>
              <td></td>
              <td>#</td>
              <td>#</td>
              <td>#</td>
              <td>#</td>
            </tr>
          <% # %>
        </tbody>
      </table>
      </div>

<!--List of invoices-->

    	<div class="span12">
      <legend> Invoices </legend>
    	<table class="table table-hover table-bordered">
    		<caption><h4 class="pull-left">Current</h4> </caption>
    		<thead>
      			<tr>
        			<th>Invoice</th>
        			<th>$</th>
        			<th>Start date</th>
        			<th>End date</th>
        			<th>days to payment</th>
      			</tr>
    		</thead>

    		<tbody>
      			<tr>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
      			</tr>
    		</tbody>
  		</table>
  		</div>


  		<div class="span12">
    	<table class="table table-hover table-bordered">
    		<caption><h4 class="pull-left">Overdue</h4> </caption>
    		<thead>
      			<tr>
        			<th>Invoice</th>
        			<th>$</th>
        			<th>Start date</th>
        			<th>End date</th>
        			<th>days overdue</th>
      			</tr>
    		</thead>

    		<tbody>
      			<tr>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
      			</tr>
    		</tbody>
  		</table>
  		</div>


  		<div class="span12">
    	<table class="table table-hover table-bordered">
    		<caption><h4 class="pull-left">Unpaid</h4> </caption>
    		<thead>
      			<tr>
        			<th>Invoice</th>
        			<th>$</th>
        			<th>Start date</th>
        			<th>End date</th>
        			<th>days to payment</th>
      			</tr>
    		</thead>

    		<tbody>
      			<tr>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
      			</tr>
    		</tbody>
  		</table>
  		</div>

  		<div class="span12">
    	<table class="table table-hover table-bordered">
    		<caption><h4 class="pull-left">Paid</h4> </caption>
    		<thead>
      			<tr>
        			<th>Invoice</th>
        			<th>$</th>
        			<th>Start date</th>
        			<th>End date</th>
        			<th>days since payment</th>
      			</tr>
    		</thead>

    		<tbody>
      			<tr>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
        			<td>#</td>
      			</tr>
    		</tbody>
  		</table>
  		</div>





 	</div>
 </div>